@include md {
    .m-title-date-command {
        display: flex;
        width: 100%;
        justify-content: space-between;
    } 
}

.m-command-last-date {
    text-align: right;
    margin: 40px 0px 60px 0px;

    @include md {
        margin: 20px 0px 0px 0px;
    }
    
    span {
        color: $bright-gradient-color;
        font-weight: 900;
    }
}

.m-data-form {

    @include md {
        display: flex;
        width: 100%;
        margin-top: 40px;

        div {
            width: 100%;
        }
    }

    label {
        margin-bottom: 10px;
    }
    
    input {
        width: 100%;
        margin-bottom: 30px;
    }

    div {
        margin: 20px 0px 20px 0px;
    }

    .m-product-description {
        color: $bright-gradient-color;
        font-weight: 900;
    } 

    .m-product-detail {
        border-bottom: 1px solid $bright-gradient-color;
        margin-bottom: 50px;
    }

    .m-delete-interactive-button {
        display: inline-block;
        background-image: url("../images/trash-icon.svg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 24px;
        border: none;
    }
}

.m-order-result {

    .m-product-description {
        margin-bottom: 10px;

        @include md {
            margin-top: -24px;
        }
    }

    .m-delete-interactive-button-design {
        border-bottom: 1px solid $bright-gradient-color;
    }
}

.m-command-details {
    h1 {
       margin: 40px 0px 60px 0px;
       text-align: right;
       padding-right: 10px;

       @include md {
        margin: -40px 0px 0px 0px;
    } 
}

.m-price-description {
    border-bottom: 1px solid $fifth-color;
    margin: 30px 0px 10px 0px;
    text-align: right;
    padding-right: 10px;

        @include md {
            border: none;
        } 
    }

    .m-price {
        color:$bright-gradient-color;
        font-weight: 900;
        text-align: right;
        padding-right: 10px;
    }

    .m-button {
        margin-top: 40px;
        color: red;
    }

    .m-send-button-placement {
        position: relative;
        margin-top: 20px;
        padding-bottom: 50px;
        .send-button {
            position: absolute;
            right: 0px;
        }
    }
}

@include md {
    .m-command-details-placement {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
    }

    .m-price {
        margin: 0px;
        padding: 0px;
    }
    
} 


