header {
    position: fixed;
    width: 100%;
	background: $dark-gradient-color;
    z-index: 2;
    background: linear-gradient(270deg, $dark-gradient-color 10%, $bright-gradient-color 80%);
}

.l-home-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    @include md {
        order: 1;
    }

    .l-logo-icon-frame {
        background-color: $main-color;
        width: 150px;
        height: 100px;
        padding-top: 10px;
        border-radius: 0px 0px 30px 30px;
    }
}

.l-logo {
    width: 150px;
}

.l-connexion-menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 150px;

    
    @include md {
        order: 3;
        align-items: end;
    }

    img {
        width: 50px;
    }

    .l-shopping-icon-design {
        width: 50px; 
        position: relative;
    }

    .l-account-icon-design {
        width: 50px;
    }

    span {
        display: inline-block;
        font-size: 20px;
        width: 64px;
        color: $main-color;
    }

    .l-alert-bubble {
        background-color: $secondary-color;
        position: absolute; 
        left: 40px;
        top: -10px;
        width: 16px;
        height: 22px;
        padding-left: 4px;
        border-radius: 50%;
        z-index: 1;
    }
}



