$main-color: #fff;
$secondary-color: #e37823;
$third-color: #000;
$fourth-color: #0000001e;
$fifth-color: #9999993c;

$dark-gradient-color: rgb(38,53,133);
$bright-gradient-color: rgba(33,110,184,1);


